{% load url from future %}
{% if latest_knowledge_list %}
    <ul>
    {% for knowledge in latest_knowledge_list %}
        <li><a href="{% url 'knownow:detail' knowledge.id %}">{{ knowledge.content }}
        {% if knowledge.referalKnowledge %}
            (from {{ knowledge.referalKnowledge.all }})
        {% endif %}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No knowledge are available.</p>
{% endif %}
<form action="{% url 'knownow:createFromScratch' %}" method="post">
{% csrf_token %}
<input type="text" name="content" id="content1" value="Type content here" />
<input type="submit" value="Provide" />
</form>
